Pods/
Podfile.lock
Movida/.DS_Store
Movida/Classes/.DS_Store
Movida.xcworkspace/contents.xcworkspacedata
Movida/Classes/ViewControllers/Mais/.DS_Store
Movida/Libs/.DS_Store
Movida/VisaCheckoutSDK_5.5.2/SampleApps/
Movida.xcworkspace/xcuserdata/
Movida.xcodeproj/xcuser
Movida.xcworkspace/xcshareddata/
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
*.DS_Store
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


# Remove it to make changes on RadioMovidaImages
Movida/Assets\.xcassets/rádio movida/Contents\.json
Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/Contents\.json
Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/musica_sertaneja@2x\.png
Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/musica_sertaneja@3x\.png
Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/Contents\.json
Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/musicas_brasileiras@2x\.png
Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/musicas_brasileiras@3x\.png
Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/Contents\.json
Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/pop_rock1\(1\)@2x\.png
Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/pop_rock1\(1\)@3x\.png
Movida/Assets\.xcassets/rádio movida/rock_in_rio\.imageset/Contents\.json
Movida/Assets\.xcassets/rádio movida/rock_in_rio\.imageset/rock_in_rio\.jpg
Movida/Assets\.xcassets/rádio movida/top_100\.imageset/Contents\.json
Movida/Assets\.xcassets/rádio movida/top_100\.imageset/top_100_1@2x\.png
Movida/Assets\.xcassets/rádio movida/top_100\.imageset/top_100_1@3x\.png

Movida/Assets\.xcassets/rádio movida/Contents\.json

Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/Contents\.json

Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/musica_sertaneja@2x\.png

Movida/Assets\.xcassets/rádio movida/musica_sertaneja\.imageset/musica_sertaneja@3x\.png

Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/Contents\.json

Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/musicas_brasileiras@2x\.png

Movida/Assets\.xcassets/rádio movida/musicas_brasileiras\.imageset/musicas_brasileiras@3x\.png

Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/Contents\.json

Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/pop_rock1\(1\)@2x\.png

Movida/Assets\.xcassets/rádio movida/pop_rock\.imageset/pop_rock1\(1\)@3x\.png

Movida/Assets\.xcassets/rádio movida/rock_in_rio\.imageset/Contents\.json

Movida/Assets\.xcassets/rádio movida/rock_in_rio\.imageset/rock_in_rio\.jpg

Movida/Assets\.xcassets/rádio movida/top_100\.imageset/Contents\.json

Movida/Assets\.xcassets/rádio movida/top_100\.imageset/top_100_1@2x\.png

Movida/Assets\.xcassets/rádio movida/top_100\.imageset/top_100_1@3x\.png
